@charset "utf-8";
body{
    background-color: #FAFFF0;
}
.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.text_style #text{
    text-align: center;
}
.text_style { 
    width: 64vw;
    display: flex;
    flex-direction: column;
}

.goods{
    padding: 0;
    margin: 0;
}
.maker{
    padding: 0;
    margin: 0;;
}
.price{
    padding: 0;
    margin: 0;
    text-align: right;
}
.snack_img {
    border-bottom: 1px solid #000000;
    width: 15vw;
    height: 14vw;
    object-fit: cover;
}
.box {
    width: 15vw;
    border: 1px solid #000000;
    margin: 5px;
    height: 48%;
}
.style{
    padding: 10px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 10px;
}
.side {
    width: 56vw;
    height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
}

.side::-webkit-scrollbar {
    width: 5px;
}

.side::-webkit-scrollbar-track {
    background-color: #dddddd;
    border-radius: 10px;
}

.side::-webkit-scrollbar-thumb {
    background-color: #17585d;
    border-radius: 10px;

}


.random{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:white;
    margin: 0 auto;
    width: 40vh;
    border: 1px solid #000000;
    border-radius: 20px;
    /* float:none; */
    background-color: white;
    padding: 20px;
    height: 45vh;
}
h4{
    margin: 0%;
    font-size: 150%;
}
.num{
    text-align: center;
}
.ran_num{
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    width: 60%;
    height: 5vh;
}
.search-form-011 {
    /* display: flex; */
    align-items: center;
    overflow: hidden;
    border: 1px solid #767d83;
    border-radius: 25px;
}

.search-form-011 input {
    width: 200px;
    height: 30px;
    padding: 5px 15px 5px 0;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-011 input::placeholder {
    color: #767d83;
}

.search-form-011 button {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-011 button::before {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}
.maker{
    text-align: center;
}
.maker_box{
    width: 100%;
    height: 5vh;
}
.genre_box{
    width: 100%;
    height: 5vh;
}
.genre{
    text-align: center;
}
.ser_button{
    text-align: center;
}
.search_button{
    background-color: #A5FF7E;
    width: 95%;
    height: 5vh;
    border: 1px solid #000000;
    border-radius: 30px;
    font-size: 20px;
    font-weight:bold;
}
.ser_text{
    font-size: 20px;
    font-weight:bold;
}
.re_button{
    text-align: center;
}
.reset_button{
    background-color: #CFCFCF;
    width: 95%;
    height: 5vh;
    border: 1px solid #000000;
    border-radius: 30px;
    font-size: 20px;
    font-weight:bold;
}
.tyu_button{
    margin-top: 10px;
    text-align: center;
}
.cart{
    background-color: #FFB813;
    width: 95%;
    height: 20vh;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 20px;
    font-weight:bold;
}
.txt_cart{
    font-size: 25px;
    margin: 0 auto;
}
.text_cart{
    font-size: 35px;
}