* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FAFFF0;
    height: 100vh;
}

.contents {
    min-height: 100vh;
    max-height: 100vh;
}

.flex {
    display: flex; /*横並び*/
}

.flex-item {
    padding: 70px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.main-catchphrase {
    font-size: 70px;
}

.sub-catchphrase {
    font-size: 35px;
    width: 80%;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px 0;
}

.guest-login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0;
    padding: .8em 2em;
    border: none;
    border-radius: 25px;
    background-color: #DFDFDF;
    color: black;
    font-weight: 600;
    font-size: 1em;
}

.guest-login-button:hover {
    background-color: #B5B5B5;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0;
    padding: .8em 2em;
    border: none;
    border-radius: 25px;
    background-color: #ffb813;
    color: black;
    font-weight: 600;
    font-size: 1em;
}

.login-button:hover {
    background-color: #efa803;
}


.img_container {
    display: flex;
    align-items: center;

}

.top_img {
    width: 35vw;
    height: auto;
}
